<div class="card column grow padding-big">
  <h2 class="margin-bottom margin-right">Node information</h2>

  <div class="key-value line">
    <span>Protocol</span>
    <span>{{bltService.blt.connection_protocol}}</span>
  </div>

  <div class="key-value line">
    <span>Host</span>
    <span>
      <a href="{{bltService.blt.root_url}}">{{bltService.blt.node_host}}</a>
    </span>
  </div>

  <div class="key-value line">
    <span>Port</span>
    <span>{{ (bltService.blt.node_port) ? bltService.blt.node_port : 'default'}}</span>
  </div>

  <div class="key-value line">
    <span>Api path</span>
    <span>{{ bltService.blt.api_path }}</span>
  </div>


  <div class="key-value line margin-top">
    <span>Version</span>
    <span>{{bltService.nodeInfo.version}}</span>
  </div>

  <div class="key-value line">
    <span>Software</span>
    <span>{{bltService.nodeInfo.software}}</span>
  </div>

  <div class="key-value line margin-top">
    <span>WebSocket</span>
    <span>
      <a href="{{bltService.nodeInfo.apiInfo.streams}}">link</a>
    </span>
  </div>

  <div class="key-value line">
    <span>Docs</span>
    <span>
      <a href="{{bltService.nodeInfo.docs}}">link</a>
    </span>
  </div>

  <div class="key-value line margin-top">
    <span>Transactions since reload:</span>
    <span>{{bltService.transactionStream.length}}</span>
  </div>
</div>

<div class="column grow-4 has-scrollable-child">
  <div id="blt-ws-transactions" class="column grow scrollable-y">
    <div class="balloon warning row pointer padding-big" *ngFor="let tx of bltService.transactionStream">
      {{tx}}
    </div>
  </div>
</div>