<div class="card column grow padding-big">
  <h2 class="margin-bottom margin-right">Node information</h2>

  <div class="key-value line">
    <span>Protocol</span>
    <span>{{bltService.blt.connection_protocol}}</span>
  </div>

  <div class="key-value line">
    <span>Host</span>
    <span>
      <a href="{{bltService.blt.root_url}}">{{bltService.blt.node_host}}</a>
    </span>
  </div>

  <div class="key-value line">
    <span>Port</span>
    <span>{{ (bltService.blt.node_port) ? bltService.blt.node_port : 'default'}}</span>
  </div>

  <div class="key-value line">
    <span>Api path</span>
    <span>{{ bltService.blt.api_path }}</span>
  </div>


  <div class="key-value line margin-top" *ngIf="bltService.nodeInfo">
    <span>Version</span>
    <span>{{bltService.nodeInfo.version}}</span>
  </div>

  <div class="key-value line" *ngIf="bltService.nodeInfo">
    <span>Software</span>
    <span>{{bltService.nodeInfo.software}}</span>
  </div>

  <div class="key-value line margin-top" *ngIf="bltService.nodeInfo">
    <span>WebSocket</span>
    <span>
      <a href="{{bltService.nodeInfo.apiInfo.streams}}">link</a>
    </span>
  </div>

  <div class="key-value line" *ngIf="bltService.nodeInfo">
    <span>Docs</span>
    <span>
      <a href="{{bltService.nodeInfo.docs}}">link</a>
    </span>
  </div>

  <div class="key-value line margin-top">
    <span>Transactions since reload:</span>
    <span>{{bltService.transactionStream.length}}</span>
  </div>
</div>

<div class="column grow-4 has-scrollable-child padding-left">
  <div class="column grow scrollable-y">
    <div class="row margin-left-small margin-top">
      <h3>Latest Transactions</h3>
    </div>
    <div id="blt-ws-transactions" class="column grow">
      <div class="column no-margin" *ngFor="let tx of bltService.transactionStream">
        <div class="row">
          <div class="window margin-left-small margin-big no-margin-bottom grow pointer" routerLink="/explorer/{{ JSON.parse(tx.transaction).asset_id }}/{{ JSON.parse(tx.transaction).transaction_id }}">
            <div class="window-title primary-alternative padding padding-left-big">
              {{ tx.timestamp.toLocaleTimeString()}}
            </div>
            <div class="window-content primary primary-hover padding-big">
              {{ JSON.stringify(JSON.parse(tx.transaction), null, 4) }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card no-margin margin-left-small margin-top margin-right padding-big" *ngIf="bltService.transactionStream.length == 0">
          <h4 class="margin-bottom-small">No transactions yet...</h4>
          <p>If you expect transactions but none appear, try setting the
            <a routerLink="/settings">WebSocket URL manually in the settings</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>