<div id="blt-app" class="column grow no-padding no-margin">

  <div id="blt-header" class="row vertical-center space-between">
    <h1>Bigchaindb Load Tester</h1>

    <div class="blt-menubutton" routerLink="/settings">
      <i class="fas fa-cog"></i>
    </div>

  </div>

  <div id="blt-content" class="row grow">

    <div id="blt-menu" class="column padding grow">
      <div class="blt-menubutton" routerLink="/overview">
        <i class="fas fa-home"></i>
      </div>
      <div class="blt-menubutton">
        <i class="fas fa-search"></i>
      </div>
      <div class="blt-menubutton">
        <i class="fas fa-stopwatch"></i>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>

</div>