<div id="blt-app" class="column">
  <div id="blt-header" class="column">
    Bigchaindb Load Tester
  </div>

  <div id="blt-content" class="row">

    <div id="blt-menu" class="column">
      <div class="blt-menubutton">
        <i class="fas fa-home"></i>
      </div>
      <div class="blt-menubutton">
        <i class="fas fa-search"></i>
      </div>
      <div class="blt-menubutton">
        <i class="fas fa-stopwatch"></i>
      </div>
    </div>

    <div id="blt-pane" class="row stretch">
      <div class="blt-pane">
        <h2 class="margin-under margin-right">Node information</h2>
        <div class="key-value line">
          <span>Version</span>
          <span>v1.0</span>
        </div>
      </div>
    </div>
  </div>
</div>