@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://artusvranken.github.io/jackfruit/src/jackfruit.css');
/*@import url('../../../../jackfruit/src/jackfruit.css');*/

:root 
{
    --blt-color-1: rgb(84, 151, 75);
    --blt-color-1-alt: rgb(70, 165, 57);

    --blt-color-2: rgb(226, 226, 226);
    --blt-color-2-alt: rgb(194, 194, 194);

    --blt-color-3: rgb(42, 105, 176);
    --blt-color-3-alt: rgb(63, 125, 196);

    --blt-padding: 10px;
    --blt-padding-double: calc(2 * var(--blt-padding));
    --blt-padding-triple: calc(3 * var(--blt-padding));

    --blt-menu-width: 75px;
    --blt-menubutton-width: calc( var(--blt-menu-width) - 2 * var(--blt-padding));

    --blt-border-radius: 5px;
}

router-outlet + *
{
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    padding: 0;
    margin: 0;
}

.blt-menubutton
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;

    width: var(--blt-menubutton-width);
    height: var(--blt-menubutton-width);
    font-size: 1.5em;
    
    transition: 0.2s;
    cursor: pointer;
    border-radius: var(--blt-border-radius);
}

.blt-menubutton:hover 
{
    background: var(--blt-color-3-alt);
}
